// .babelrc
{
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": ["./src/**"],
        "alias": {
          "components": "./src/components/",
          "containers": "./src/containers/",
          "helpers": "./src/helpers/"
        }
      }
    ]
  ],
  "presets": ["react-app"]
}
