// .babelrc
{
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": ["./src/**"],
        "alias": {
          "components": "./components",
          "containers": "./containers"
        }
      }
    ]
  ],
  "presets": ["react-app"]
}
