{
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier", "module-resolver"],
  "rules": {
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["Field"],
        "depth": 3
      }
    ],
    "jsx-a11y/label-has-for": 0,
    "module-resolver/use-alias": [
      "error",
      {
        "ignoreDepth": 0
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "error",
    "max-len": ["error", 80]
  },
  "env": {
    "browser": true
  }
}
