.header {
  background-color: #8da9b9;
  text-align: center;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.5);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.5);
}
.impact {
  border-bottom: 5px solid #b1d1dd;
  border-top: 5px solid #b1d1dd;
}
.impact img {
  width: 100%;
  display: block;
}
.header h1 {
  font-size: 1.4375em;
}
.header h1 a {
  display: block;
  font-family: InspirationROB;
  color: #ffffff;
  font-size: 3em;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  line-height: 1em;
  font-weight: 100;
  text-shadow: 0 0 1px #ccc, 0 0 1px #ccc, 0 0 1px #ccc;
}

/* Navigation Styles */

.topNav {
  height: 37px;
  background-color: #b1d1dd;
  position: relative;
  z-index: 75;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.5);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.5);
}
.nav {
  display: block;
  padding: 0;
}
.nav li {
  float: left;
  display: block;
  background-color: #b1d1dd;
  text-align: center;
  padding: 0 0;
  clear: none;
  width: 16.5%;
}
.nav li a {
  display: block;
  width: 98%;
  font-weight: bold;
  padding: 0.5em 1%;
  color: #ffffff;
  text-decoration: none;
}
